@model GummyBearKingdom.Models.Product
@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(model => model.Price)</p>
<p>Country of origin: @Html.DisplayFor(model => model.OriginCountry)</p>

@Html.ActionLink("Return to products", "Index")