@model GummyBearKingdom.Models.Product
@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="candy-return">
    @Html.ActionLink("← BACK TO CANDY", "Index")
</p>

<h3>Editing @Html.DisplayFor(model => model.Name)</h3>

<div class="row">
    <div class="col-sm-6">
        <img class="candy-img candy-detail-img" src="@Html.DisplayFor(model => model.Image)" />
    </div>
    <div class="col-sm-6 candy-details">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.ProductId)

            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price)
                @Html.EditorFor(model => model.Price)
            </div>

            <div class="form-group">
                @Html.Label("Country of Origin")
                @Html.EditorFor(model => model.OriginCountry)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image)
                @Html.EditorFor(model => model.Image)
            </div>

                <input type="submit" value="Save" class="btn btn-lg black-btn" />
        }
    </div>
</div>
