<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 nav-links">
                <p>@Html.ActionLink("PRODUCTS", "Index", "Products")</p>
                <p>@Html.ActionLink("ADD A PRODUCT", "Create", "Products")</p>
                <p>@Html.ActionLink("HOME", "Index", "Home")</p>
            </div>
            <div class="col-sm-8">
                <div class="title">
                    <h1>Welcome to Gummy Bear Kingdom</h1>
                </div>

                @RenderBody()
            </div>
            <div class="col-sm-2">
                <img src="../../images/icons.png"/>
            </div>
        </div>
    </div>
</body>
</html>
